{{#admin-nav}}
	{{nav-item route='adminPlugins.licenses.index' label='admin.license_keys.index'}}
	{{nav-item route='adminPlugins.licenses.enabled' label='admin.license_keys.enabled'}}
	{{nav-item route='adminPlugins.licenses.disabled' label='admin.license_keys.disabled'}}
	{{nav-item route='adminPlugins.licenses.unused' label='admin.license_keys.unused'}}
{{/admin-nav}}

<div class="admin-container">
  {{outlet}}
</div>